body { 
    background-color:rgba(0, 0, 0, 0.877)

} 
h1{
    justify-self: center;
    padding-inline-start: 2rem;
}


.cabeçalho{background-color: black;}

.titulo{ width: 35%;
    display: flex;
    justify-content: center;
    
}

